@charset "UTF-8";
.date-picker {
  width: 170px;
  height: 25px;
  padding: 0;
  border: 0;
  line-height: 25px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  color: #303030;
  position: relative;
  z-index: 2;
}

.date-picker-wrapper {
  position: absolute;
  z-index: 1;
  font-size: 12px;
  line-height: 20px;
  color: #aaa;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  box-sizing: initial;
}

.dp-clearfix {
  clear: both;
  height: 0;
  font-size: 0;
}

.date-picker-wrapper.inline-wrapper {
  position: relative;
  box-shadow: none;
  display: inline-block;
}
.date-picker-wrapper.single-date {
  width: auto;
}
.date-picker-wrapper.no-shortcuts {
  width: 100%;
  box-sizing: border-box;
}
.date-picker-wrapper .footer {
  font-size: 11px;
  padding-top: 3px;
}
.date-picker-wrapper b {
  color: #666;
  font-weight: 700;
}
.date-picker-wrapper a {
  color: rgb(107, 180, 214);
  text-decoration: underline;
}
.date-picker-wrapper .month-name {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
}
.date-picker-wrapper .select-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.date-picker-wrapper .select-wrapper:hover {
  text-decoration: underline;
}
.date-picker-wrapper .month-element {
  display: inline-block;
  vertical-align: middle;
}
.date-picker-wrapper .select-wrapper select {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: -1px;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-transform: inherit;
  color: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  opacity: 0.01;
}
.date-picker-wrapper .month-wrapper {
  border-radius: 3px;
  background-color: #fff;
  cursor: default;
  position: relative;
  _overflow: hidden;
}
.date-picker-wrapper .month-wrapper table {
  width: 100%;
  float: left;
}
.date-picker-wrapper .month-wrapper table.month2 {
  width: auto;
  float: left;
}
.date-picker-wrapper .month-wrapper table th, .date-picker-wrapper .month-wrapper table td {
  vertical-align: middle;
  text-align: center;
  line-height: 14px;
  margin: 0px;
  padding: 10px 0px;
  width: 36px;
  height: 36px;
}
.date-picker-wrapper .month-wrapper table .day {
  height: 100%;
  line-height: 1;
  font-size: 1rem;
  margin-bottom: 1px;
  color: #ccc;
  padding: 10px 0;
  font-weight: 500;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-picker-wrapper .month-wrapper table div.day.lastMonth, .date-picker-wrapper .month-wrapper table div.day.nextMonth {
  color: #999;
  cursor: default;
}
.date-picker-wrapper .month-wrapper table .day.checked {
  background-color: #FFF6E0;
  position: relative;
}
.date-picker-wrapper .month-wrapper table .week-name {
  height: 20px;
  line-height: 20px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}
.date-picker-wrapper .month-wrapper table .week-name th:last-child {
  color: #FF5065;
}
.date-picker-wrapper .month-wrapper table .day.has-tooltip {
  cursor: help !important;
}
.date-picker-wrapper .month-wrapper table .day.has-tooltip .tooltip {
  white-space: nowrap;
}
.date-picker-wrapper .time label {
  white-space: nowrap;
}
.date-picker-wrapper .month-wrapper table .day.toMonth.valid {
  color: #333;
  cursor: pointer;
}
.date-picker-wrapper .month-wrapper table .day.toMonth.hovering {
  background-color: rgba(255, 246, 224, 0.431372549);
  position: relative;
}
.date-picker-wrapper table .caption {
  height: 40px;
}
.date-picker-wrapper table .caption > th:first-of-type, .date-picker-wrapper table .caption > th:last-of-type {
  width: 27px;
}
.date-picker-wrapper table .caption .next, .date-picker-wrapper table .caption .prev {
  padding: 0 5px;
  cursor: pointer;
  font-size: 0;
  text-align: -webkit-center;
}
.date-picker-wrapper table .caption .next:hover, .date-picker-wrapper table .caption .prev:hover {
  background-color: #ccc;
  color: white;
}
.date-picker-wrapper table .caption .prev::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  transition: all 0.3s ease;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.0033 22.0645L13.9426 17.0418C13.422 16.5252 13.4189 15.6843 13.9355 15.1638L19.0033 10.0579' stroke='%23DCDCDC' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-size: contain; /* 배경 이미지 크기 조절 */
  background-repeat: no-repeat; /* 배경 이미지 반복 설정 */
}
.date-picker-wrapper table .caption .prev:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.0033 22.0645L13.9426 17.0418C13.422 16.5252 13.4189 15.6843 13.9355 15.1638L19.0033 10.0579' stroke='%23222222' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
.date-picker-wrapper table .caption .next::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  transition: all 0.3s ease;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9967 22.0645L18.0574 17.0418C18.578 16.5252 18.5811 15.6843 18.0645 15.1638L12.9967 10.0579' stroke='%23DCDCDC' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");
  background-size: contain; /* 배경 이미지 크기 조절 */
  background-repeat: no-repeat; /* 배경 이미지 반복 설정 */
}
.date-picker-wrapper table .caption .next:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9967 22.0645L18.0574 17.0418C18.578 16.5252 18.5811 15.6843 18.0645 15.1638L12.9967 10.0579' stroke='%23222222' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");
}
.date-picker-wrapper .gap {
  position: relative;
  z-index: 1;
  height: 100%;
  background-color: red;
  font-size: 0;
  line-height: 0;
  float: left;
  top: -5px;
  margin: 0 10px -10px;
  visibility: hidden;
  height: 0;
}
.date-picker-wrapper .gap .gap-lines {
  height: 100%;
  overflow: hidden;
}
.date-picker-wrapper .gap .gap-line {
  height: 15px;
  width: 15px;
  position: relative;
}
.date-picker-wrapper .gap .gap-line .gap-1 {
  z-index: 1;
  height: 0;
  border-left: 8px solid white;
  border-top: 8px solid #eee;
  border-bottom: 8px solid #eee;
}
.date-picker-wrapper .gap .gap-line .gap-2 {
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 2;
  height: 0;
  border-left: 8px solid transparent;
  border-top: 8px solid white;
}
.date-picker-wrapper .gap .gap-line .gap-3 {
  position: absolute;
  right: 0;
  top: 8px;
  z-index: 2;
  height: 0;
  border-left: 8px solid transparent;
  border-bottom: 8px solid white;
}
.date-picker-wrapper .gap .gap-top-mask {
  width: 6px;
  height: 1px;
  position: absolute;
  top: -1px;
  left: 1px;
  background-color: #eee;
  z-index: 3;
}
.date-picker-wrapper .gap .gap-bottom-mask {
  width: 6px;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 7px;
  background-color: #eee;
  z-index: 3;
}
.date-picker-wrapper .selected-days {
  display: none;
}
.date-picker-wrapper .drp_top-bar {
  line-height: 1.4;
  position: relative;
  padding: 10px 40px 10px 0;
}
.date-picker-wrapper .drp_top-bar .error-top, .date-picker-wrapper .drp_top-bar .normal-top {
  display: none;
}
.date-picker-wrapper .drp_top-bar .default-top {
  display: block;
}
.date-picker-wrapper .drp_top-bar.error .default-top {
  display: none;
}
.date-picker-wrapper .drp_top-bar.error .error-top {
  display: block;
  color: red;
}
.date-picker-wrapper .drp_top-bar.normal .default-top {
  display: none;
}
.date-picker-wrapper .drp_top-bar.normal .normal-top {
  display: block;
}
.date-picker-wrapper .drp_top-bar.normal .normal-top .selection-top {
  color: #333;
}
.date-picker-wrapper .drp_top-bar .apply-btn {
  position: absolute;
  right: 0px;
  top: 6px;
  padding: 3px 5px;
  margin: 0;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  color: #d9eef7;
  border: solid 1px #0076a3;
  background: #0095cd;
  background: -moz-linear-gradient(top, #00adee, #0078a5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00adee", endColorstr="#0078a5");
  color: white;
  line-height: initial;
}
.date-picker-wrapper .drp_top-bar .apply-btn.disabled {
  cursor: pointer;
  color: #606060;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -moz-linear-gradient(top, #fff, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ededed");
}
.date-picker-wrapper .time {
  position: relative;
}
.date-picker-wrapper.single-month .time {
  display: block;
}
.date-picker-wrapper .time input[type=range] {
  vertical-align: middle;
  width: 129px;
  padding: 0;
  margin: 0;
  height: 20px;
}
.date-picker-wrapper .time1 {
  width: 180px;
  padding: 0 5px;
  text-align: center;
}

/*time styling*/
.time2 {
  width: 180px;
  padding: 0 5px;
  text-align: center;
}

.date-picker-wrapper .time1 {
  float: left;
}
.date-picker-wrapper .time2 {
  float: right;
}
.date-picker-wrapper .hour {
  text-align: right;
}

.minute {
  text-align: right;
}

.date-picker-wrapper .hide {
  display: none;
}
.date-picker-wrapper .first-date-selected, .date-picker-wrapper .last-date-selected {
  color: white !important;
}
.date-picker-wrapper .day.toMonth.checked.first-date-selected.last-date-selected::before {
  content: attr(data-day);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 100%;
  background-color: #FFC747;
  border-radius: 50%;
  line-height: 1.2;
  z-index: 2;
}
.date-picker-wrapper .day.toMonth.checked.first-date-selected.last-date-selected::after {
  content: "";
  position: absolute;
  width: 0%;
  right: 0;
  height: 100%;
  background-color: #FFF6E0;
  z-index: 0;
}
.date-picker-wrapper .day.toMonth.checked.first-date-selected {
  position: relative;
  background-color: transparent;
}
.date-picker-wrapper .day.toMonth.checked.first-date-selected::before {
  content: attr(data-day);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 100%;
  background-color: #FFC747;
  border-radius: 50%;
  line-height: 1.2;
  z-index: 2;
}
.date-picker-wrapper .day.toMonth.checked.first-date-selected::after {
  content: "";
  position: absolute;
  width: 50%;
  right: 0;
  height: 100%;
  background-color: #FFF6E0;
  z-index: 0;
}
.date-picker-wrapper .day.toMonth.checked.last-date-selected {
  position: relative;
  background-color: transparent;
}
.date-picker-wrapper .day.toMonth.checked.last-date-selected::before {
  content: attr(data-day);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 100%;
  background-color: #FFE39E;
  color: #222;
  border-radius: 50%;
  line-height: 1.2;
  z-index: 2;
}
.date-picker-wrapper .day.toMonth.checked.last-date-selected::after {
  content: "";
  position: absolute;
  width: 50%;
  left: 0;
  height: 100%;
  background-color: #FFF6E0;
  z-index: 0;
}
.date-picker-wrapper .date-range-length-tip {
  position: absolute;
  margin-top: -4px;
  margin-left: -8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  display: none;
  background-color: yellow;
  padding: 0 6px;
  border-radius: 2px;
  font-size: 12px;
  line-height: 16px;
  -moz-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
  -ms-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
  -o-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
}
.date-picker-wrapper .date-range-length-tip:after {
  content: "";
  position: absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid yellow;
  left: 50%;
  margin-left: -4px;
  bottom: -4px;
}
.date-picker-wrapper.two-months.no-gap .month1 .next, .date-picker-wrapper.two-months.no-gap .month2 .prev {
  display: none;
}
.date-picker-wrapper .week-number {
  padding: 5px 0;
  line-height: 1;
  font-size: 12px;
  margin-bottom: 1px;
  color: #999;
  cursor: pointer;
}
.date-picker-wrapper .week-number.week-number-selected {
  color: #49e;
  font-weight: bold;
}/*# sourceMappingURL=daterangepicker.css.map */